<ejs-grid
  [dataSource]="data"
  allowPaging="true"
  [selectionSettings]="selectionOptions"
  (rowSelected)="rowSelected($event)"
>
  <e-columns>
    <e-column
      field="OrderID"
      headerText="Order"
      textAlign="Right"
      width="90"
    ></e-column>
    <e-column
      field="CustomerID"
      headerText="Customer"
      width="110"
    ></e-column>
    <e-column
      field="EmployeeID"
      headerText="Employee"
      textAlign="Right"
      format="C2"
      width="120"
    ></e-column>
    <e-column
      field="ShipRegion"
      headerText="Region"
      textAlign="Right"
      format="yMd"
      width="120"
    ></e-column>
    <e-column
      field="ShipCountry"
      headerText="Country"
      textAlign="Right"
      format="yMd"
      width="120"
    ></e-column>
    <e-column
      field="Verified"
      headerText="Verified"
      textAlign="Right"
      format="yMd"
      width="120"
    ></e-column>
  </e-columns>
</ejs-grid>