<div class="d-flex">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
    style="width: 280px; height: 100vh"
  >
    <a
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-4">Form.io</span>
    </a>
    <hr />

    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="Builder" class="nav-link text-white" aria-current="page">
          <i class="zmdi zmdi-plus-circle"></i>
          Builder
        </a>
      </li>

      <li>
        <a routerLink="Renderer" class="nav-link text-white">
          <i class="zmdi zmdi-view-dashboard"></i>
          Renderer
        </a>
      </li>
    </ul>
  </div>

  <div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
